@import "tailwindcss";

@font-face {
    font-family: "K72-Font-1";
    src: url('/Lausanne-300.woff2');
}
@font-face {
    font-family: "K72-Font-2";
    src: url('/Lausanne-500.woff2');
}

body{
    color: white;
}